@if (isAddDialogOpen) {
  <app-new-task
    [isShowDialog]="isAddDialogOpen"
    [isDisabled]="isSavingTask"
    (cancelAdd)="closeAddDialog()"
    (taskCreated)="createTask($event)"
  />
}

<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button (click)="openAddDialog()" [disabled]="isSavingTask">Add Task</button>
    </menu>
  </header>

  <section>
    @if (userTasks && userTasks.length > 0) {
      <ul>
        @for (task of userTasks; track task.id) {
          <li>
            <app-task [task]="task" (complete)="removeTask($event)" />
          </li>
        }
      </ul>
    }
  </section>
</section>
